visualn_drawings_library.visualn_drawing_type.*:
  type: config_entity
  label: 'VisualN Drawing type config'
  mapping:
    id:
      type: string
      label: 'ID'
    label:
      type: label
      label: 'Label'
    uuid:
      type: string
    drawing_fetcher_field:
      type: string
      label: 'Drawing fetcher field'
